<h2>{{hero.name | uppercase}} Details</h2>
<div><span>id: </span>{{hero.id}}</div>
<div><span>name: </span>{{hero.name}}</div>
<p>{{ hero.id | date | uppercase }}</p>
<p>{{ hero.id | currency }}</p>
<div>
    <label for="name">Hero Name: </label>
    <input id="name" [(ngModel)]="hero.name" placeholder="name">

</div>
<h2>My Heroes</h2>
<ul class="heroes">
  <li>
    <button type="button">
      <span class="badge">{{hero.id}}</span>
      <span class="name">{{hero.name}}</span>
    </button>
  </li>
</ul>

<li *ngFor="let hero of heroes" >{{ hero.id }}</li>


    


    <div *ngIf="selectedHero">
        <h2>{{selectedHero.name | uppercase}} Details</h2>
        <div>id: {{selectedHero.id}}</div>
        <div>
          <label for="hero-name">Hero name: </label>
          <input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="name">
        </div>
      </div>
      <li *ngFor="let hero of heroes">
        <button type="button" (click)="onSelect(hero)">click</button>
    
